.bar {
  margin: 0;
  background: #1a110e;
}
.bar > .horizontal {
  padding: 3px 20px;
}
.bar * {
  color: #f1dfd9;
}
.bar .workspaces {
  min-height: 25px;
}
.bar .workspaces button {
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  min-height: 14px;
  min-width: 14px;
  border-radius: 14px;
  background: rgba(241, 223, 217, 0.1);
}
.bar .workspaces button:hover {
  background: rgba(241, 223, 217, 0.2);
}
.bar .workspaces button.occupied {
  background: rgba(241, 223, 217, 0.3);
}
.bar .workspaces button.occupied:hover {
  background: rgba(241, 223, 217, 0.4);
}
.bar .workspaces button:active, .bar .workspaces button.active {
  min-width: 30px;
  background: #ffb599;
}
.bar .workspaces button:active:hover, .bar .workspaces button.active:hover {
  background: #ffb599;
  box-shadow: 0px 0 2px 2px rgba(255, 181, 153, 0.5);
}
.bar .workspaces button.urgent {
  animation: blink-workspace 0.75s cubic-bezier(0, 0, 0.2, 1) infinite alternate-reverse;
}
.bar .workspaces button.urgent:hover {
  background: #ffb4ab;
  box-shadow: 0px 0 2px 2px rgba(255, 181, 153, 0.5);
}
.bar .indicator {
  padding-left: 5px;
  padding-right: 5px;
}
.bar .battery-indicator label {
  margin-left: 5px;
  font-weight: bolder;
  font-size: 13px;
}
.bar .clock {
  font-weight: bold;
}
.bar .notifications-indicator {
  padding: 0 5px;
  min-width: 25px;
}
.bar .systemtray {
  padding: 0;
}
.bar .tray-icon {
  padding: 0;
  margin: 0;
  min-width: 20px;
  min-height: 20px;
  background: #1a110e;
  border-radius: 20px;
}
.bar .tray-icon:hover {
  background: rgba(241, 223, 217, 0.1);
}
@keyframes blink-workspace {
  from {
    background: initial;
  }
  to {
    background: #ffb4ab;
  }
}

.notification .content {
  background: #1a110e;
  padding: 15px;
  border-radius: 8px;
  border: 3px solid #ffb599;
  color: #f1dfd9;
  min-width: 300px;
}
.notification .content .icon {
  min-width: 78px;
  min-height: 78px;
}
.notification .content .icon.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.notification .content .title {
  font-size: 20px;
}
.notification .content .time {
  color: #a08d86;
  margin-right: 5px;
}
.notification .content .close-button {
  padding: 0;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  background: #93000a;
  color: #ffdad6;
}
.notification .content .close-button:hover {
  background: #ffb4ab;
  color: #690005;
}
.notifications-popup {
  background: transparent;
  padding: 2px;
}
.notifications-popup .popup-container {
  min-width: 440px;
}

.quick-settings {
  background: #1a110e;
  min-width: 683px;
  min-height: 384px;
  border-radius: 8px;
  border: 3px solid #ffb599;
  padding: 5px;
}
.quick-settings .toggle-button {
  margin: 5px;
  border-radius: 4px;
}
.quick-settings .toggle-button button .icon {
  margin-right: 8px;
}
.quick-settings .toggle-button:active button, .quick-settings .toggle-button.active button {
  background: #ffb599;
  color: #552008;
}
.quick-settings .toggle-button.arrow-toggle button:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
.quick-settings .toggle-button.arrow-toggle button:last-child {
  border-radius: 0 4px 4px 0;
}
.quick-settings .toggle-button.arrow-toggle button:only-child {
  border-radius: 4px;
}
.quick-settings .toggle-button.simple-toggle {
  border-radius: 4px;
}
.quick-settings .menu .title-box .icon {
  margin-right: 8px;
}
.quick-settings .menu .title-box .label {
  font-weight: bold;
}
.quick-settings .menu .content .icon {
  margin-right: 8px;
}
.quick-settings .menu .content button {
  background: transparent;
}
.quick-settings .menu .content button:hover {
  background: rgba(241, 223, 217, 0.2);
}

.osd-indicator {
  background: transparent;
}
.osd-indicator .osd-progress .progress {
  border: 2px solid #ffb599;
  background: #1a110e;
  min-width: 30px;
  min-height: 200px;
  border-radius: 16px;
}
.osd-indicator .osd-progress .progress .fill {
  background: #e7beaf;
  color: #442a20;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 30px;
  min-height: 200px;
}
.osd-indicator .osd-progress .progress .fill .icon {
  padding: 0;
  margin: 3px;
}

/*# sourceMappingURL=style.css.map */
