.quick-settings {
  background: $surface;

  min-width: calc(1366px / 2);
  min-height: calc(768px / 2);
  border-radius: 8px;
  border: 3px solid $primary;

  padding: 5px;

  .toggle-button {
    margin: 5px;
    border-radius: 4px;

    button {
      .icon {
        margin-right: 8px;
      }

      .label {

      }
    }

    &:active,
    &.active {
      button {
        background: $primary;
        color: $on_primary;
      }
    }

    &.arrow-toggle {
      button {
        &:nth-child(1) {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }

        &:only-child {
          border-radius: 4px;
        }
      }
    }

    &.simple-toggle {
      border-radius: 4px;
    }
  }

  .menu {
    .title-box {
      .icon {
        margin-right: 8px;
      }
      .label {
        font-weight: bold;
      }
    }

    .content {
      .icon {
        margin-right: 8px;
      }

      button {
        background: transparent;

        &:hover {
          background: transparentize($on_surface, 0.8);
        }
      }
    }
  }

}
