* {
    accent:                      #ffb3b1;
    accentfg:                    #561d1f;
    foreground:                  #f0dedd;
    background:                  #1a1111DF;
    urgent-foreground:           #690005;
    urgent-background:           #ffb4ab;
}
